.playBody{
    /* background-color: whitesmoke; */
    height: 50%;
    padding: 12px;
    aspect-ratio: 1 / 1;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;

}
.grid3 .div {
    aspect-ratio: 1 / 1;
    background-color: whitesmoke;
    /* color: rgb(254, 0, 144) ; */
    font-size: 75px;
    font-weight: bolder;
    text-align: center;
}

/* .p1, .p2, .p3 {
    border-bottom: solid 2px rgb(254, 0, 144);
}


.p3, .p6, .p9 {
    border-left: solid 2px rgb(254, 0, 144);
}

.p4, .p5, .p6 {
    border-block: solid 2px rgb(254, 0, 144);
}

.p7, .p8, .p9 {
    border-top: solid 2px rgb(254, 0, 144);
}
*/
.p1, .p4, .p7 {
    color:#a030ca;
} 

.p5, .p2, .p8 {
    color: #b227bf;
}
.p3, .p6, .p9 {
    color: #c51db3;
}

.info {
    position: absolute;
    z-index: 10;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    font-weight: bolder;
    font-size: x-large;
}

.messageBox{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.429);
    color: blueviolet;
    width: 20%;
}

.messageBox div{
    padding-bottom: 3px;
    text-align: center;
}
.messageBox input {
    width: 75%;
    display: inline;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}
.messageBox button {
    width: 19%;
    display: inline;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-left: 2px;
    border: none;
    outline: none;
}